{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Couleur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.nom }}</td>
                <td>{{ categorie.image }}</td>
                <td>{{ categorie.couleur }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}">show</a>
                    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}">Create new</a>

    <section class="section-meals" id="Menu">
        <div class="container center-text">
            <span class="subheading">Menu</span>
            <h2 class="heading-secondary">
                Savourez Plus de 1000 Recettes Sélectionnées par R&A Cuisine
            </h2>
        </div>
        <div class="container grid grid--3-cols margin-bottom-md">
            <div class="meal">
                <img src="{{ asset('img/meal-1.jpg') }}" class="meal-img" alt="Japanese Gyozas" />
                <div class="meal-content">
                    <a href="#">Decouvrir</a>
                    <a href="#"><i class="bx bx-right-arrow-circle"></i></a>
                </div>
                <p class="meal-title">tikokkk</p>
            </div>
            <div class="meal">
                <img src="{{ asset('img/meal-1.jpg') }}" class="meal-img" alt="Japanese Gyozas" />
                <div class="meal-content">
                    <a href="#">Decouvrir</a>
                    <a href="#"><i class="bx bx-right-arrow-circle"></i></a>
                </div>
                <p class="meal-title">Dessert</p>
            </div>
            <div class="meal">
                <img src="{{ asset('img/meal-1.jpg') }}" class="meal-img" alt="Japanese Gyozas" />
                <div class="meal-content">
                    <a href="#">Decouvrir</a>
                    <a href="#"><i class="bx bx-right-arrow-circle"></i></a>
                </div>
                <p class="meal-title">git Plat</p>
            </div>
            <div class="meal">
                <img src="{{ asset('img/meal-1.jpg') }}" class="meal-img" alt="Japanese Gyozas" />
                <div class="meal-content">
                    <a href="#">Decouvrir</a>
                    <a href="#"><i class="bx bx-right-arrow-circle"></i></a>
                </div>
                <p class="meal-title">Plat</p>
            </div>
            <div class="meal">
                <img src="{{ asset('img/meal-1.jpg') }}" class="meal-img" alt="Japanese Gyozas" />
                <div class="meal-content">
                    <a href="#">Decouvrir</a>
                    <a href="#"><i class="bx bx-right-arrow-circle"></i></a>
                </div>
                <p class="meal-title">Salade</p>
            </div>
        </div>
        <div class="container all-recipes">
            <a href="#" class="link">Decouvrez tout Nos plats &rarr;</a>
        </div>
    </section>
{% endblock %}


